<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.user.mapper.UserAccountMapper">

    <resultMap type="com.cloud.auth.api.domain.UserAccount" id="UserAccountResult">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="deviceId" column="device_id"/>
        <result property="number" column="number"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
        <result property="type" column="type"/>
        <result property="userType" column="user_type"/>
        <result property="grade" column="grade"/>
        <result property="dealCommissionRatio" column="deal_commission_ratio"/>
        <result property="withdrawalCommissionRatio" column="withdrawal_commission_ratio"/>
        <result property="dailyTradingLimit" column="daily_trading_limit"/>
        <result property="monthTradingLimit" column="month_trading_limit"/>
        <result property="dailyWithdrawalLimit" column="daily_withdrawal_limit"/>
        <result property="monthWithdrawalLimit" column="month_withdrawal_limit"/>
        <result property="availableBalance" column="available_balance"/>
        <result property="frozenAmount" column="frozen_amount"/>
        <result property="statusFlag" column="status_flag"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectAvailableBalanceByUserIdType" resultType="java.math.BigDecimal">
        SELECT available_balance
        FROM user_account
        WHERE user_id = #{userId}
          AND type = #{type}
          AND status_flag = 0
          AND delete_flag = 0
    </select>

    <select id="selectCountByUserId" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM user_account
        WHERE status_flag = 0
          AND delete_flag = 0
          AND user_id = #{userId}
    </select>

    <select id="selectByUserIdType" resultType="com.cloud.auth.api.domain.UserAccount">
        SELECT *
        FROM user_account
        WHERE user_id = #{userId}
          AND type = #{type}
          AND status_flag = 0
          AND delete_flag = 0
    </select>

    <select id="selectPasswordByUserId" resultType="java.util.Map">
        SELECT DISTINCT `password`,
                        salt
        FROM user_account
        WHERE status_flag = 0
          AND delete_flag = 0
          AND user_id = #{userId}
    </select>

    <update id="updatePasswordSaltByUserId">
        UPDATE user_account
        SET `password` = #{password},
            salt       = #{salt}
        WHERE user_id = #{userId}
    </update>

    <update id="updateAvailableBalance">
        UPDATE user_account
        SET available_balance = #{amount}
        WHERE user_id = #{userId}
          AND type = #{type}
    </update>

</mapper>