<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.user.mapper.UserMapper">

    <resultMap type="com.cloud.auth.api.domain.User" id="UserResult">
        <result property="id" column="id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="deviceId" column="device_id"/>
        <result property="phone" column="phone"/>
        <result property="headImg" column="head_img"/>
        <result property="nickName" column="nick_name"/>
        <result property="sex" column="sex"/>
        <result property="age" column="age"/>
        <result property="birthday" column="birthday"/>
        <result property="sign" column="sign"/>
        <result property="state" column="state"/>
        <result property="capital" column="capital"/>
        <result property="city" column="city"/>
        <result property="counties" column="counties"/>
        <result property="bindQqId" column="bind_qq_id"/>
        <result property="bindWechatId" column="bind_wechat_id"/>
        <result property="bindSinaId" column="bind_sina_id"/>
        <result property="bindAlipayId" column="bind_alipay_id"/>
        <result property="activate" column="activate"/>
        <result property="activateTime" column="activate_time"/>
        <result property="fans" column="fans"/>
        <result property="attention" column="attention"/>
        <result property="opus" column="opus"/>
        <result property="likes" column="likes"/>
        <result property="kbs" column="kbs"/>
        <result property="invitationCode" column="invitation_code"/>
        <result property="invitationQrcode" column="invitation_qrcode"/>
        <result property="invitationId" column="invitation_id"/>
        <result property="invitationUrlAnd" column="invitation_url_and"/>
        <result property="invitationUrlIos" column="invitation_url_ios"/>
        <result property="invitationUrlWeixin" column="invitation_url_weixin"/>
        <result property="invitationIds" column="invitation_ids"/>
        <result property="vipType" column="vip_type"/>
        <result property="vipStartTime" column="vip_start_time"/>
        <result property="vipEndTime" column="vip_end_time"/>
        <result property="realnameAuth" column="realname_auth"/>
        <result property="userType" column="user_type"/>
        <result property="weixinAvatar" column="weixin_avatar"/>
        <result property="weixinOpenid" column="weixin_openid"/>
        <result property="sessionKey" column="session_key"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="statusFlag" column="status_flag"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="checkUserNameUnique" parameterType="String" resultType="int">
        SELECT count(1)
        FROM `user`
        WHERE user_name = #{username} limit 1
    </select>

    <select id="checkPhoneUnique" parameterType="String" resultMap="UserResult">
        SELECT id,
               phone
        FROM `user`
        WHERE phone = #{phonen} limit 1
    </select>

    <select id="selectByUserNamePhone" resultMap="UserResult">
        SELECT a.*
        FROM `user` a
        WHERE a.user_name = #{param}
           OR a.phone = #{param} AND a.status_flag = 0 AND a.delete_flag = 0
    </select>

    <select id="selectByUserInfo" resultType="com.cloud.user.dto.UserInfoDto">
        SELECT user_name,
               head_img,
               nick_name,
               sex,
               age,
               phone,
               sign,
               vip_type,
               vip_start_time,
               vip_end_time,
               user_type,
               fans,
               attention,
               likes
        FROM `user`
        WHERE status_flag = 0
          AND delete_flag = 0
          AND id = #{userId}
    </select>


</mapper>