<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.user.mapper.UserAccountDetailMapper">

    <resultMap type="com.cloud.user.domain.UserAccountDetail" id="UserAccountDetailResult">
        <result property="id" column="id"/>
        <result property="accountId" column="account_id"/>
        <result property="accountNumber" column="account_number"/>
        <result property="accountType" column="account_type"/>
        <result property="type" column="type"/>
        <result property="debitType" column="debit_type"/>
        <result property="debitNumber" column="debit_number"/>
        <result property="debitPhone" column="debit_phone"/>
        <result property="creditType" column="credit_type"/>
        <result property="creditNumber" column="credit_number"/>
        <result property="creditPhone" column="credit_phone"/>
        <result property="orderPrice" column="order_price"/>
        <result property="beforeAvailableBalance" column="before_available_balance"/>
        <result property="afterAvailableBalance" column="after_available_balance"/>
        <result property="dealName" column="deal_name"/>
        <result property="orderNumber" column="order_number"/>
        <result property="dealSerialNumber" column="deal_serial_number"/>
        <result property="merchantSerialNumber" column="merchant_serial_number"/>
        <result property="remarks" column="remarks"/>
        <result property="img" column="img"/>
        <result property="serviceCharge" column="service_charge"/>
        <result property="dealType" column="deal_type"/>
        <result property="deleteFlag" column="delete_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <select id="selectByDealType" resultType="com.cloud.user.dto.BillDto">
        SELECT
        uad.id AS detailId,
        uad.img,
        uad.order_price AS amount,
        uad.`type`,
        uad.deal_type AS dealType,
        uad.deal_name AS dealName,
        uad.create_time AS createTime
        FROM
        user_account_detail uad
        LEFT JOIN user_account ua ON uad.account_id = ua.id
        WHERE
        ua.status_flag = 0
        AND ua.delete_flag = 0
        AND uad.delete_flag = 0
        AND ua.user_id = #{userId} and ua.`type` = 1
        <if test="dealType != '' and dealType != null">
            AND uad.deal_type = #{dealType}
        </if>
        <if test="start != '' and start != null">
            AND left(uad.create_time,10) >= #{start}
        </if>
        <if test="end != '' and end != null">
            AND left(uad.create_time,10) &lt;= #{end}
        </if>
        order by uad.create_time desc
    </select>

    <select id="selectByDetail" resultType="com.cloud.user.dto.BillDetailDto">
        SELECT uad.img,
               uad.order_price    AS amount,
               uad.`type`,
               uad.deal_type      AS dealType,
               uad.deal_name      AS dealName,
               uwl.`status`,
               uwl.remit_status   AS remitStatus,
               uwl.belong_bank    AS belongBank,
               uwl.bank_account   AS bankAccount,
               uwl.bank_card      AS bankCard,
               uwl.bank_name      AS bankName,
               uwl.alipay_account AS alipayAccount,
               uwl.alipay_name    AS alipayName,
               uad.create_time    AS createTime
        FROM user_account_detail uad
                 LEFT JOIN user_account ua ON uad.account_id = ua.id
                 LEFT JOIN user_withdraw_apply uwl ON uwl.deal_serial_number = uad.deal_serial_number
        WHERE ua.status_flag = 0
          AND ua.delete_flag = 0
          AND uad.delete_flag = 0
          AND uwl.delete_flag = 0
          AND ua.user_id = #{userId}
          AND uad.id = #{detailId}
    </select>

</mapper>